<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>

		<ul>
			<!-- <div class="card" style="width: 45rem;">
				<img class="card-img-top" th:src="@{|/images/${item.image}|}"
					alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">[[${item.name}]] -
						[[${item.category.name}]]</h5>
					
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">[[${item.name}]]</li>
					<li class="list-group-item">[[${item.price}]]</li>
					<li class="list-group-item">[[${item.createDate}]]</li>
					<li class="list-group-item">[[${item.category.name}]]</li>
				</ul>
				<div class="card-body">
					<a href="#" class="card-link">Card link</a> <a href="#"
						class="card-link">Another link</a>
				</div>
			</div> -->
			<div th:object="${item}" class="card" style="width: 45rem;">
  <img class="card-img-top" th:src="@{|/images/*{image}|}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" th:text="*{name} " ></h5> - <h5 th:text="*{category.name}"></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" th:text="*{name}"></li>
    <li class="list-group-item" th:text="*{price}"></li>
    <li class="list-group-item" th:text="*{createDate}"></li>
        <li class="list-group-item" th:text="*{category.name}"></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> 
			Các mặt hàng khác
			<li th:each="p:${item.category.products}" class="row"><a
				th:href="@{|/product/detail/${p.id}|}">[[${p.name}]]</a></li>
		</ul>
	</main>
</body>
</html>