<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main th:object="${order}">
		<div class="offset-0 col-16 mt-4 mb-4">
			
				<div class="card card-center">
					<div class="card-header text-center">
						<b>Order Detail</b>
					</div>

					<div class="card-body">
						
						
						
						<p style="text-left: center">Order nummber : </p>
						
						<div class="form-group">
							<input class="form-control" th:field="*{id}" readonly="readonly">
						</div>
						
						<p style="text-left: center">Name User : </p>
						
						<div class="form-group">
							<input class="form-control" th:field="*{account.username}" readonly="readonly">
						</div>
						
						<p style="text-left: center">Date Order: </p>
						
						<div class="form-group">
							<input class="form-control" th:field="*{createDate}" readonly="readonly">
						</div>
						<p style="text-left: center">Address: </p>
						
						<div class="form-group">
							<input class="form-control" th:field="*{address}" readonly="readonly">
						</div>
						
					</div>
					<div class="card-footer text-muted text-center">
						
						
						<hr />
						<table class="table">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
						<th scope="col">Amount</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="detail: *{orderDetails}" th:object="${detail}">
					<td>[[*{product.id}]]</td>
					<td>[[*{product.name}]]</td>
					<td>$[[*{#numbers.formatDecimal(price,0,'COMMA',2,'POINT')}]]</td>
					<td>[[*{quantity}]]</td>
					<td>$[[*{#numbers.formatDecimal(price*quantity,0,'COMMA',2,'POINT')}]]</td>
					</tr>
				</tbody>
			</table>
					</div>
				</div>
			
		</div>
	</main>
</body>
</html>